.playlist-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #18191abd;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.playlist-modal-content{
    min-width: 12.5rem;
    width: 12.5rem;
    background-color: var(--color-background-accent-2);
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
    outline: none;

}
.playlist-modal-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.playlist-modal-header{
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content:space-between ;
}
.playlist-modal-body input{
    outline: 1px solid;
    margin-right: 5px;
}
.playlist-modal-body label{
    cursor: pointer;
}
.playlist-modal-footer{
  padding: 1rem;
}

.playlist-modal-footer button {
    margin-top: .5rem;
}

.playlist-modal-footer input {
    outline: 1px solid;
    width: 100%;
    margin: 5px 0px;
    padding: 4px 10px;
    border-radius: 3px;
}

.devider{
    border: .5px solid #4e4f50;
    outline: 0;
}