.carousel .slide #legend{
    opacity: 1;
    background-color:transparent;
    height: 6rem;
    position: absolute;
    bottom: 3.313rem;
    left: 2.5rem;
    width: fit-content;
    margin-left: 0;
    font-size: inherit;
    padding: 0;
}

.carousel .slide #legend .legend-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.carousel .slide .slider-img{
    border: 0;
    filter: opacity(0.6);
}
.carousel .slide .slider-img-opa{
    border: 0;
    filter: opacity(1);
}
.legend .eplaybtn {
    width: -moz-fit-content;
    width: fit-content;

}


@media screen and (max-width: 40em){
   .slider-img{
        object-fit: cover;
        height: 31.5rem;
   }
   .slider-img-opa{
    object-fit: cover;
    height: 31.5rem;
}
   .carousel .slide #legend .title{ 
        font-size: 1.2rem;
        word-spacing: 2px;
   }

}

@media screen and (min-width: 40.063em) and (max-width: 64em) {
    
}

@media  screen and (min-width: 64.063em) and (max-width: 90em) {
    
}


@media  screen  and (max-width: 120em) {

}