@import url('https://neonui.netlify.app/css/main.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.dark-theme{
    --color-background: #18191A ;
    --color-background-accent-1:#242526;
    --color-background-accent-2:#3A3B3C;
    --color-foreground:#ffffff;
    --color-foreground-accent-1:#B0B3B8;
}

.light-theme{
    --color-background: #ffffff;
    --color-background-accent-1: #f0f0ed;
    --color-background-accent-2: #d8d8d5;
    --color-foreground: #18191A;
    --color-foreground-accent-1: #242526;
}

button, input, textarea {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    outline: none;
}

#App.App{
    background-color: var(--color-background);
    color: var(--color-foreground);
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}

h2, h3, h4, h1, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

